//use Roboto font
html {
 $imgKey1: random(1);
 $list1: 7, 1;
$nth1: nth($list1, $imgKey1);


$img: 'https://forum.crazyblox.games/uploads/default/original/2X/d/d67151c451318363778df0279fdabd153bb5ebcb.jpg';
$imgtwo: 'https://forum.crazyblox.games/uploads/default/original/2X/6/65d50cb1457bc461185ed9c4ce07c1a427052a3a.jpg';
$imgthree: 'https://forum.crazyblox.games/uploads/default/original/2X/a/a0a5b843d5531043759a907a32a92d6aa01d0a56.jpg';
$imgfour: 'https://forum.crazyblox.games/uploads/default/original/2X/b/b784ee638cc7b4831c867b59de0f589f389429b2.jpg';
$imgfive: 'https://forum.crazyblox.games/uploads/default/original/2X/4/4276692a6f2b84d09329a94ec7057b5ccc77b302.jpg';
$imgsix: 'https://forum.crazyblox.games/uploads/default/original/2X/8/89de0b60fa57f567263bfaf7d174b1ad31da4d22.jpg';
$imgseven: 'https://forum.crazyblox.games/uploads/default/original/2X/a/a0a5b843d5531043759a907a32a92d6aa01d0a56.jpg';
 $imgKey: random($nth1);
 $list: $img, $imgtwo, $imgthree, $imgfour, $imgfive, $imgsix, $imgseven;
$nth: nth($list, $imgKey);
//   background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://media.discordapp.net/attachments/246399980577882112/507662567603306497/HD_BeneathTheRuins.png');
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url($nth);
    background-size: cover;
    background-position: 50% 30px;
    background-attachment: fixed;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  // Matched from https://material.io/components/cards/
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  // Matched from https://material.io/components/buttons/
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

//raise and round buttons
.btn {
  border-radius: 4px;
  @include boxShadow;
  &.btn-flat.close {
    box-shadow: none;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

// Topic adjustments

.small-action {
  border-top: none;
  margin-top: 1em;
  max-width: 808px;
  button {
    margin-left: 1em;
    background-color: var(--material-lighter-secondary);
  }
}

.read-state {
  right: 1em;
}

.gap {
  margin-top: 1em;
}

.post-notice {
  border: none;
  background: transparent;
  margin-left: 50px;
  margin-top: 0.75em;
}

.popup-menu .btn {
  box-shadow: none;
}
